<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Mountale</title>
		<link rel="stylesheet" href="assets/styles.css">
		<link rel='icon' href='assets/img/favicon.ico' type='image/x-icon'/>
		<script src="assets/vue.js"></script>

		<script src="assets/dictionaries/typo.js"></script>
		<script src="assets/dictionaries/loadTypo.js"></script>
		<script src="assets/dictionaries/spell-checker.js"></script>
		<script src="assets/dictionaries/fr/aff.js"></script>
		<script src="assets/dictionaries/fr/dic.js"></script>

		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.0/codemirror.js"></script>-->
		<script src="assets/codemirror/codemirror.js"></script>
		<script src="assets/codemirror/search.js"></script>
		<script src="assets/codemirror/searchcursor.js"></script>
		<script src="assets/codemirror/jump-to-line.js"></script>
		<script src="assets/codemirror/active-line.js"></script>
		<script src="assets/codemirror/overlay.js"></script>
		
		<script src="assets//app.js"></script>
		<script src="assets/components/filesmenu.js"></script>
		<script src="assets/components/exportmenu.js"></script>
		<script src="assets/components/cminstance.js"></script>
		<script src="assets/components/searchbar.js"></script>
		
		<script src="assets/modes/xml.js"></script>
		<script src="assets/modes/css.js"></script>
		<script src="assets/modes/javascript.js"></script>
		<script src="assets/modes/htmlmixed.js"></script>
		<script src="assets/modes/tale.js"></script>
		
		<link rel="stylesheet" href="assets/codemirror/codemirror.css">
	</head>
	<body>

		<div id="app">
			<!-- Menu des fichiers -->
			<filesmenu v-if="panel==='files'" :panel="panel" :core="core"></filesmenu>

			<!-- Export HTML -->
			<exportmenu v-if="panel === 'html'" :panel="panel" :core="core"></exportmenu>

			<!-- Aperçu HTML -->
			<section v-if="panel === 'previewHtml'" class="menu">
				<div class="logo closeBt" @click="setPanel('editor')">X</div>
				<div class="wrapper">
					<h2>Aperçu<br><span style="font-size:.8em;">{{core.files[0].name}}</span></h2>
					<div class="preview" v-html="getHTML()"></div>
				</div>
			</section>

			<!-- Barre du haut -->
			<header>
				<div @click="setPanel('files')" class="logo" title="Menu de Mountale">M</div>
				<div class="noteMenu">
					<input v-model="core.files[0].name" @change="core.setLS()"/>
				</div>
			</header>

			<!-- Éditeur de contenu -->
			<section class="content" v-if="core.files.length > 0 && panel === 'editor'">
				<div class="wrapperEditor"><cmInstance></cmInstance></div>
				<div class="toolbar">
					<div @mouseover="showMarks = true" @mouseout="showMarks = false" class="toolbarTool">
						<span
							@click="wrap(currentMark)"
							:title="currentMark.title"
							:class="'toolIcon icon' + currentMark.cl"
						></span>
						<div class="toolbarMarks" v-if="showMarks">
							<span 
								v-for="m of marks"
								v-if="m.title !== currentMark.title"
								@click="wrap(m)"
								:title="m.title"
								:class="'toolIcon icon' + m.cl"
							></span>
						</div>
					</div>
					<div class="toolbarComment">
						<span
							@click="wrap({mark: 'cmt'})"
							title="Insérer un commentaire (Ctrl + Alt + C)"
							class="toolIcon iconCmt"
						></span>
					</div>
					<div class="toolbarTool">
						<span v-if="!loaderIcon"
							@click="toggleSpell"
							title="Vérifier l'orthographe"
							class="toolIcon iconSpell"
							:class="{iconActive: spellActive}"
						></span>
						<span v-else class="toolIcon iconWait"></span>
					</div>
					<div class="toolbarTool">
						<span
							@click="toggleFindBar"
							title="Rechercher / remplacer (Ctrl + F)"
							class="toolIcon iconSearch"
							:class="{iconActive: findOpened}"
						></span>
					</div>
					<div class="toolbarTool">
						<span
							@click="setPanel('previewHtml')"
							title="Aperçu HTML"
							class="toolIcon iconShowHTML"
						></span>
					</div>
					<div class="toolbarTool">
						<span
							@click="setPanel('html')"
							title="Code HTML"
							class="toolIcon iconCodeHTML"
						></span>
					</div>
				</div>
			</section>

			<!-- Barre de recherche -->
			<searchbar v-if="findOpened"></searchbar>
			

		</div>




<script>
	
	const app = new Vue({
		el: '#app',
		components: {Cminstance, filesmenu, exportmenu, searchbar},
		data: {
			core,
			panel: 'editor',
			showMarks: false,
			findOpened: false,
			spellActive: false, typoLoaded: undefined, loaderIcon: false,
			marks: [
				{title: 'Gras', mark: '*', cl: 'Strong'},
				{title: 'Italique', mark: '/', cl: 'Italic'},
				{title: 'Code', mark: '`', cl: 'Code'},
				{title: 'Surligné', mark: '|', cl: 'Mark'},
				{title: 'Exposant', mark: '^', cl: 'Ex'},
				{title: 'Indice', mark: ',', cl: 'In'},
				{title: 'Insertion', mark: '+', cl: 'Ins'},
				{title: 'Suppression', mark: '-', cl: 'Del'},
				{title: 'Image', mark: 'img', cl: 'Img'},
				{title: 'Lien hypertexte', mark: 'a', cl: 'Link'},
				{title: 'Note de bas de page', mark: 'note', cl: 'Note'}
			],
			currentMark: {title: 'Gras', mark: '*', cl: 'Strong'}
		},
		created: function () {
			 window.addEventListener('keydown', e => {
				if (e.keyCode == 70 && e.ctrlKey) { // Ctrl + F
					e.preventDefault()
					this.toggleFindBar()
				}
			 }, false)
		},
		methods: {
			getHTML: function () {
				let html = []
				const f = core.files[0]
				for (let c of f.content) html.push(f.showHTML(c))
				let res = html.join('\n\n')
				if (!f.withComments) res = res.replace(/<span class="comment"(.*?)>(.*?)<\/span>/g, '$2')
				return res
			},
			setPanel: function (name) {
				core.cm.toTextArea()
				this.panel = name
			},
			toggleFindBar: function () {
				this.findOpened = !this.findOpened
			},
			toggleSpell: function () { //new Typo('fr', aff, dic, { platform: 'any' })
				this.spellActive = !this.spellActive
				if (this.spellActive) {
					if (!this.typoLoaded) {
						this.loaderIcon = true
						var x = setTimeout(function () {
							app.$data.typoLoaded = loadTypo(aff, dic)
							app.$data.typoLoaded.then(function (typo) {
								startSpellCheck(core.cm, typo)
								app.$data.loaderIcon = false
							})
						}, 100)
						return
					}
					this.typoLoaded.then(function (typo) {
						startSpellCheck(core.cm, typo)
						this.loaderIcon = false
					})
				} else {
					core.cm.removeOverlay(core.cm.spellcheckOverlay)
				}
			},
			wrap: function (mark) {
				const type = mark.mark
				const stringsSelected = core.cm.getSelections()
				const selsBeforeWrap = core.cm.listSelections()
				let i = 0
				let replacements = []
				const urlExt = '|https://', cmtExt = '|Commentaire', noteExt = '|Note'
				let nbCharsExt = 0
				
				for (let string of stringsSelected) {
					if (['`', '*', '/', '|', '^', ',', '+', '-'].indexOf(type) !== -1) {
						replacements.push(string.split('\n').map(
							s => s !== '' ? type+type+s+type+type : s
						).join('\n'))
					} else if (type === 'img') {
						replacements.push(string.split('\n').map(
							s => s !== '' ? '{{'+s+urlExt+'}}' : s
						).join('\n'))
						nbCharsExt = urlExt.length - 1
					} else if (type === 'a') {
						replacements.push(string.split('\n').map(
							s => s !== '' ? '[['+s+urlExt+']]' : s
						).join('\n'))
						nbCharsExt = urlExt.length - 1
					} else if (type === 'cmt') {
						replacements.push(string.split('\n').map(
							s => s !== '' ? '‹‹'+s+cmtExt+'››' : s
						).join('\n'))
						nbCharsExt = cmtExt.length - 1
					} else if (type === 'note') {
						replacements.push(string.split('\n').map(
							s => s !== '' ? '(('+s+noteExt+'))' : s
						).join('\n'))
						nbCharsExt = noteExt.length - 1
					}
					i ++
				}
				core.cm.replaceSelections(replacements)
				
				let newSels = selsBeforeWrap
				lineNb = 0
				lineAddChars = 0
				const pipe = ['img', 'a', 'note', 'cmt'].indexOf(type) !== -1
				for (let s of newSels) {
					if (lineNb !== s.anchor.line) {
						lineNb = s.anchor.line
						lineAddChars = 0
					}
					lineAddChars += 2 // 2 marques de début
					if (pipe) lineAddChars += 1 // barre verticale si img, a note, cmt
					s.anchor.ch += lineAddChars + (pipe ? s.head.ch - s.anchor.ch : 0)
					lineAddChars += nbCharsExt
					s.head.ch += lineAddChars
					lineAddChars += 2 // 2 marques de fin
				}
				
				core.cm.setSelections(newSels)
				core.cm.focus()
				
				if (type !== 'cmt') this.currentMark = mark
			}
		}
	})

</script>

	</body>
</html>
