@font-face { font-family: Baskerville; src: url('font/LibreBaskerville-Regular.ttf'); }
@font-face { font-family: Baskerville; font-weight: bold; src: url('font/LibreBaskerville-Bold.ttf');}
@font-face { font-family: Baskerville; font-style: italic; src: url('font/LibreBaskerville-Italic.ttf');}

* {margin: 0; padding: 0; box-sizing: border-box;}
body {
	background: #5f5f5f;
	font-family: Baskerville;
	color: #222;
}

/* header */

header {
	width: 100%;
	height: 30px;
	position: fixed;
	z-index: 1;
}
.logo {
	background: rgba(75, 227, 162, 0.9);
	color: #5f5f5f;
	text-align: center;
	width: 40px;
	height: 30px;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	transition:.1s;
	padding-right: 2px;
}
.logo:hover {
	background: #fff;
	font-size: 1.7em;
	height: 35px;
}
.noteMenu {
	background: #fff;
	height: 30px;
	position: absolute;
	top: 0;
	left: 40px;
	right: 0;
}
.noteMenu input {
	display: block;
	border: none;
	color: #5f5f5f;
	text-shadow: 1px 1px 1px rgba(75, 227, 162, 0.5);
	box-shadow: 0 20px 20px #fff;
	font-weight: bold;
	font-family: Baskerville;
	background: transparent;
	padding: 10px 10px 6px;
	font-size: 1.1em;
	position: absolute;
	top: -1px;
	left: 10px;
	height: 30px;
	width: calc(100% - 60px);
}
.noteMenu nav {
	display: block;
	position: absolute;
	right: 5px;
	top: 0;
	height: 30px;
}
.active {background-position-y: -30px;}


/* content */

.content {
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}
.wrapper {
	margin: 0;
	max-width: 900px;
	width: 100%;
	padding: 0 30px 40px 70px;
}
.separator {
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin: 15px 5px;
}
.wrapperEditor {
	max-width: 100%;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 40px;
	background: #fff;
	margin-bottom: 0;
	margin-top: -20px;
}
.grid {
	display: grid;
	grid-template-columns: auto 200px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.block {cursor: pointer;}
.blockEdit {
	width: 100%;
	max-width:400px;
	resize: none;
	display: block;
	padding: 10px;
	font-size: 1em;
	border: none;
	background: #fff;
	outline: none;
	font-family: Baskerville;
	color: #222;
	margin: 20px 0;
}

/* toolbar */
.toolbar {
	position: fixed;
	top: 45px; left: 5px;
	animation: .5s slide;
	z-index: 1000;
}
@keyframes slide {
	0% {opacity: 0; left:0;}
	100% {opacity: 1; left: 5px;}
}
.toolbarMarks {
    position: fixed;
	top: 45px;
	left: 35px;
	background: #5f5f5f;
	animation: .4s fade;
	padding: 0 5px;
	opacity: 1;
}
@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.toolbarMarks > * {margin: 10px;}
.toolIcon {
	margin: 5px;
	width: 20px; height: 20px;
	background: url('img/toolbar.svg');
	display: inline-block;
	cursor: pointer;
	opacity: .6;
}
.toolIcon:hover {opacity: 1;}
.iconActive {opacity: 1; background-position-y: -20px;}
.iconStrong {background-position-x: 0;}
.iconItalic {background-position-x: -20px;}
.iconCode {background-position-x: -40px;}
.iconMark {background-position-x: -60px;}
.iconEx {background-position-x: -80px;}
.iconIn {background-position-x: -100px;}
.iconIns {background-position-x: -120px;}
.iconDel {background-position-x: -140px;}
.iconImg {background-position-x: -160px;}
.iconLink {background-position-x: -180px;}
.iconNote {background-position-x: -200px;}
.iconCmt {background-position-x: -220px;}
.iconSearch {background-position-x: -240px;}
.iconShowHTML {background-position-x: -260px;}
.iconPrev {background-position-x: -280px; margin-right:0;}
.iconNext {background-position-x: -300px; margin-right:0;}
.iconAll {background-position-x: -320px; margin-right:20px;}
.iconSel {background-position-x: -340px; margin-right:0;}
.iconCodeHTML {background-position-x: -360px;}
.iconSpell {background-position-x: -380px;}
.iconWait {background-position-x: -400px; animation: rotating 2s linear infinite;}

@keyframes rotating {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* Menu */

.menu {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow-y: auto;
	background: #eef6ed;
	z-index: 2;
}
.closeBt {
	position: fixed;
	left: 0;
}
.close:hover {
	height: 30px; font-size: 1.5em;
}
.buttons {
	position: absolute;
	left: 5px;
	top: 45px;
}
.icon2 {
	height: 30px; width: 30px;
	background: url('img/buttons.svg');
	display: block;
	cursor: pointer;
	opacity: .5;
}
.icon2:hover {opacity: 1;}
.iconAdd {background-position-x: -180px;}
.iconImport {background-position-x: -210px;}
.iconChar {background-position-x: -240px;}
.iconExportAll {background-position-x: -270px;}
.iconRm {background-position-x: 0;}
.iconHtml {background-position-x: -30px;}
.iconMl {background-position-x: -60px;}
.iconClone {background-position-x: -90px;}
.iconParams {background-position-x: -120px;}
.icon180 {transform: rotate(180deg);}
.items {margin-top: 30px;}
.items > * {
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding: 3px 0;
}
.items > *:hover {font-style: italic;}
.options {
    font-size: .9em;
    margin-bottom: 10px;
}

/* Find replace bar */

.findBar {
    display: block;
    position: fixed;
    bottom: 0;
    background: #bbc6c6;
    font-size: .9em;
    right: 0;
    left: 0;
    padding: 0 5px;
}
.findBar input {
	border: 1px solid #bbb;
	border-left: 5px;
	padding: 4px;
	vertical-align: bottom;
	margin: 5px 0 5px 0;
	width: 210px;
	background: #eee;
}
.nbFound {
	position: fixed;
	bottom: 8px;
	right: 10px;
	margin-left: 10px;
	color: #666;
}

/* HTML panel */

.preview {
	background: #fff;
	margin-left: -20px;
	margin-right: -20px;
	padding: 30px;
	hyphens: auto;
	text-align: justify;
	font-size: 1.05em;
}

/* style du contenu */

h1 {
	line-height: 1.2em;
	font-size: 2.3em;
	margin-top: 1.7em;
	margin-bottom: 1.1em;
}
h2 {
	line-height: 1.2em;
	font-size: 1.6em;
	margin-top: 1.4em;
	margin-bottom: 1em;
}
h3 {
	line-height: 1.2em;
	font-size: 1.4em;
	margin-top: 1.5em;
	margin-bottom: .8em;
}
p {
	margin-top: 10px;
	margin-bottom: 10px;
	/*text-indent: 1em;*/
	line-height: 1.5em;
}
p.poem {
	text-indent: 0;
}
figure {
	background: #def5f4;
	padding: 10px;
	text-align: center;
	margin: 25px -30px;
}
figcaption {
	padding-top: 5px;
}
blockquote {
	padding-left: 50px;
	color: #d0e3ec;
	margin-bottom: 30px;
}
blockquote::before {
	display: block;
	height: 20px;
	margin-left: -40px;
	content: "«";
	font: italic 2.8em serif;
}
hr {
	height: 40px;
	background: url('img/hr.svg') no-repeat center !important;
	border: none !important;
	margin: 20px;
}
img {
	text-align: center;
	max-width: 100%;
}
ul, ol {
	margin: 20px 0 20px 35px;
}
a {
	color: blueviolet;
}
mark {
	background: #91f9cd;
}
del {
	opacity: .7;
}
.nnbsp {
	font-size: .67em;
}
.discA {
	margin-bottom: 0;
}
.discI {
	margin-top: 0;
	margin-bottom: 0;
}
.discZ {
	margin-top: 0;
}
code {
	background: #def5f4;
	border-radius: 4px;
	padding: 1px 3px;
	color: #000;
	font-size: 1em;
}
.comment{
	background: rgba(255,0,0,.2);
	border: 1px solid rgba(255,0,0,.3);
	padding: 0 1px;
}
